<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>orange.jpg</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>南丰贡桔</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>hawthorn.jpg</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>陕西山楂</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>kiwifruit.jpg</string>
		<key>price</key>
		<string>88</string>
		<key>title</key>
		<string>新西兰佳沛阳光绿果</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>11</string>
		<key>icon</key>
		<string>lemon.jpg</string>
		<key>price</key>
		<string>39</string>
		<key>title</key>
		<string>四川优质柠檬</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>bigOrange.jpg</string>
		<key>price</key>
		<string>108</string>
		<key>title</key>
		<string>赣南鲜橙</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>grape.jpg</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>山东红提</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>strawberry.jpg</string>
		<key>price</key>
		<string>999</string>
		<key>title</key>
		<string>牛奶草莓</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>coconut.jpg</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>泰国进口椰青</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1094</string>
		<key>icon</key>
		<string>banana.jpg</string>
		<key>price</key>
		<string>85.5</string>
		<key>title</key>
		<string>美蕉娘_Dole</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>pomelo.jpg</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>平和蜜柚白柚</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>apple.jpg</string>
		<key>price</key>
		<string>318</string>
		<key>title</key>
		<string>小苹果冰糖心</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>150</string>
		<key>icon</key>
		<string>jujube.jpg</string>
		<key>price</key>
		<string>79</string>
		<key>title</key>
		<string>胖嘟嘟的大冬枣</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>longan.jpg</string>
		<key>price</key>
		<string>228</string>
		<key>title</key>
		<string>泰国一级龙眼</string>
	</dict>
</array>
</plist>
